@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Akaya Kanadaka', cursive;
}

.box{
    padding: 20px;
    margin: 30px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 12px #ccc;
}

#text{
        width: 400px;
        height: 40px;
        padding: 10px;
        color: rgb(122, 139, 191);
        font-size: 22px;
        border-radius: 5px;
        border: 1px solid rgb(122, 139, 191);
}

#text-btn{
    width: 150px;
    background-color: rgb(100, 100, 218);
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all .5s ease;
    &:hover{
        border: 1px solid rgb(122, 139, 191);
    }
}